@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Roboto&display=swap');


.amiri-quran-regular {
  font-family: "Amiri Quran", serif;
  font-weight: 400;
  font-style: normal;
}

.border-gradient {
  border-image: linear-gradient(to right, #B49169, #B5AC49);
  border-image-slice: 1;

}


.hero-img{
  background-image: url(/hero1.png) ;
}

@keyframes anim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.anim {
  animation: anim 10s linear infinite;
}


.animate-slide-left {
  
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.animate-slide-right {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.show-form {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
