@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Roboto&display=swap');


.amiri-quran-regular {
  font-family: "Amiri Quran", serif;
  font-weight: 400;
  font-style: normal;
}
/* In your CSS file or global styles */
.border-gradient {
  border-image: linear-gradient(to right, #B49169, #B5AC49);
  border-image-slice: 1;

}


.hero-img{
  background-image: url(/hero1.png) ;
}

@keyframes anim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.anim {
  animation: anim 10s linear infinite;
}


